<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>oraciones</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>ISTER SONDE TITAN PURA SUNRA WALA<br>6</h1>
  <div class="stanza">
    <div class="subtitulo">Τ. 581 Η. 452</div>
    <p>
      Jisus yawon kasakka, <br>
      Raiti wina buram ni <br>
      Yawon kupya lukan ba <br>
      Naiwa kanra tara saks <br>
      Ing ba prura timyaka <br>
      Ingni saki yangra aik! <br><br>

      Jisus yawon kasakka, <br>
      Kupi latwan raya aik, <br>
      Yang na diera saura ba <br>
      Pura lui buamni; <br>
      Raiti wina buram ba <br>
      Karnika man yangra aik.
    </p>
  </div>
  <div class="stanza">
    <p>
      Yamni poli wiaia sa won Dawan Jisus Kraist Godka ba Aisika sin,
      Witin baha umpira kaikan laka uya witin bri ya ba kat kli won sakan lupya saki baku, yawon won kanra diera bila
      kaikaia
      laka rayakira kum briaia, Jisus Kraist pruan nani wina kli buan ba mita, yawon won dukya tara kum briaia sip saura
      takras ba, taski sin sip takras, sip sraui sin luras, man nani dukyam wisi hevenra ban yamni brin sa.
    </p>
  </div>
  <div class="stanza">
    <p>
      <strong>
        Witinka ba, King iwaikara iwi ba, Ship Lupya ba sin, yamni poli win ban kabia, mayunan ban kabia sin, karnira
        ban bri
        muni kabia sin ban kaiara.
      </strong> <br>
      Witinka ba yawon swakwanka nani tawan pat mitara mangkan kan. <br>
      <strong>
        Bara kli bukan yawon kasakkira won kulkan ba tawan.
      </strong>
      Yamna God bak saki brin uplika nani lâra dingkbia? <br>
      <strong>
        God sika kasakkira won kulki ba.
      </strong>
      Yamna patra won ulakisa? <br>
      <strong>
        Kraist Jisus sika pruan ba, ao kanra, pruan nani wina bukan kan ba, witin God mita aikikara sa, witin sin won
        tawan
        makabisa.
      </strong>
      Ya Kraist latwanka laka wina won dakbi won sakbia? trobil tara, pat poli kra, rau won sauki kra, plun wauan kra,
      kwala
      lua kaia kra, pat lamara taukaia kra, sord kabia kra? <br>
      <strong>
        Apía, naha diera nani sut tilara yawon kau kanra sip muni buuya, witin ba mita latwan won kaikan ba.
      </strong>
      Bamna yang naku kat lukisni, prura wi, rayakaia sin, ensel nani sin, pura aimaki ba nani sin, diera nanara ba sin,
      diera
      nani naika kabia ba sin, karnika nani sin. <br>
      <strong>
        Purara praiska sin, tihuka sín, diera paskan wala kra sin sut sip won dakbi won sakras kabia God latwanka laka
        wina,
        Kraist Jisus won Dawanra bara ba.
      </strong>
    </p>
  </div>

  <div class="himno">
    <p class="subtitulo">Τ. 585 Η. 164</p>
    <p>
      Haleluya Jisus Buan <br>
      Raiti wina witin wan <br>
      Witin prura silak krikan; <br>
      Ensel aiwons, upla wins: <br>
      Jisus buan Jisus buan <br>
      Witin raya iwisa. <br><br>

      Haleluya, Jisus buan <br>
      Prura napa daikan sa <br>
      Kraist ai dukya pruan kan ba <br>
      Raiti wina bukbia sa; <br>
      Jisus buan, Jisus buan <br>
      Rayakaia Kingka sa.
    </p>
  </div>
  <p class="subtitulo"> Sut Iwaia</p>
  <div class="stanza">
    <p>
      Bahamna man nani Kraist wol aikuki kli mai bukan kaka, diera nani ba pliks purara bara ba, bahara Kraist sika, God
      mita
      aikika kat iwisa. Baha diera nani luki bas purara bara ba, diera nani tasbara ba lika apia.
    </p>
    <p>
      <strong>
        Bara baha ba mita, baku Kraist ba pruan nani bukan kan Aisa prana ba mita, naku sin yang nani rayakaia tanka
        rayara watauki kaia kan.
      </strong>
    </p>
    <p>
      Yawan kumi sin yakan ai wîna dukyara raya taukras bamna, kumi sin yakan ai wina dukyara pruras. Yawon raya kra
      bamna,
      yawon Dawan dukyara raya sa; prubia kra yawon Dawan dukyara pruisa.
    </p>
    <p>
      <strong>
        Bahamna yawon raya kra, yawon prubia kra, yawon Dawan dukya sika. Naha mata bamna Kraist pruan bara kli raya
        takan witin
        ba pruan nani wi raya nani wol dawanka aimaki kaia.
      </strong>
    </p>
    <p>
      Bara baku yawon tasbakira ba lilka bri taukata, yawon sin heven uplika ba lilka bri taukbia.
    </p>
    <p>
      <strong>
        Naha ai sasaura dukya na sip aisauras laka kwalka ba dingkaia sa, naha praprura dukya na sin sip pruras laka
        kwalka
        dingkaia sa.
      </strong>
    </p>
    <p>Aisauaia lakara må ba mangkuya</p>
    <p><strong>Sip aisauras laka ba bukuya</strong></p>
    <p>Painka luah må ba mangkuya</p>
    <p><strong>Pranakira bukuya.</strong></p>
    <p>Swapni lakara mâ ba mangkuya</p>
    <p><strong>Karnika lakara bukuya.</strong></p>
    <p>Tasba solka wina ba mangkuya</p>
    <p><strong>Spirit wina bukuya.</strong></p>
    <p>
      Bara man nanira mai win won daukisa, moiki nani, bah nani yapi bangwi ba dukyara, man nani sari bripara, wala nani
      ba baku ai kanra diera briras bangwi ba.
    </p>
    <p>
      <strong>
        Kan Jisus pruan kli sin buan ba yawon kasak luki kaka, baku sika God sin baha nani Jisus mitara yapa ba witin
        wol
        aikuki bribalbia.
      </strong>
    </p>
  </div>
  <div class="himno">
    <p class="subtitulo"><strong>Τ. 342 Η. 166</strong></p>
    <p>
      Dawanra kupyam buks <br>
      Jisus won Godka sa: <br>
      Won saurka tikanra <br>
      Hev'nra kli aimakan. <br>
      Won Kingkara aiwoni bas <br>
      Lalukra nani, lilyam bas. <br><br>

      Naika kli balbia sa <br>
      Dakni ba kukaia; <br>
      Won bukbia Hevenra <br>
      Witin wol ban kaia. <br>
      God trompitka pat waluya <br>
      Bä bila kaiki, lilyam bas.
    </p>
  </div>
  <div class="stanza">
    <p>
      Mayunra witinra kabia, kli Buaia Tanka ba, Rayakaia ba sin won Dawan Jisus Kraist, witnis kasak ba, pruan nani
      tawakia
      ba, naha tasba kingka nani Pura witka ba, Tasba na kingka laka ba won Dawan dukya takan sa, witin ai Kraistra ba
      dukya
      sin.
    </p>
    <p>
      <strong>
        Bara witin king aimaki ban kabia ban kaiara, King nani kingka ba Dawan nani Dawanka ba sin.
      </strong>
    </p>
    <p>
      Bara kupya kumi Godka ba, witin baha ship nani shepherdka tara ba pruan nani wina kli bribalan, la ban kaia daukan
      talya ba kira, baha sika won Dawan Jisus Kraist, witin bui aiska yamni bani mapara, witin ai kupya laka ba
      daukaiara,
      yawon kupyara sin diera witin pain kaiki ya ba daukbia, Jisus Kraist ba mita:
    </p>
    <p>
      <strong>
        Witinkara mayunan ban kabia ban kaiara.
      </strong>
    </p>
  </div>
  <div class="amen">
    <p>AMEN.</p>
  </div>
  <!-- Footer -->
  <footer>
    <div class="footer-content">
      <p>Himnario moravo miskito © Hecho con mucho
        ❤️ por <br> <a href="https://alfredo-hammer.github.io/personal-porfolio/">Alfredo
          Hammer</a></p>
    </div>
  </footer>
</body>

</html>