<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VII</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>PAS SANDE OCTUBRE
    <br> (Tasba Aiska) Tebilka Yua <br> VII
  </h1>
  <div class="stanza">
    <strong>
      <p>
        Kupya yamni laka, umpira kaikan laka, kupya kumi laka man nanira,
        God won Aisa wina Kraist Jisus won Dawan wina sin
      </p>
    </strong>
  </div>


  <p class="subtitulo">Sut buaia</p>

  <p class="subtitulo"><strong>Lawana - 276</strong></p>

  <div class="himno">
    <p>
      1. Kais yamni poli na,<br>
      Kraist shipka kaia, <br>
      Ai dusa wol won bri tapakaia,<br>
      Na yamni tara pura sip luras,<br>
      Bara tasba sip wonkras ba <br>
      Shepard ai prisantka <br>
      Ship banira yabia. <br><br>

      2. Twi aingwa kura nara sa ban kaia <br>
      Li rayakira uya sin aubi <br>
      God kupya yamni laka tara wol sa <br>
      Ya Jisus Shepard bila wali ba; <br>
      Sibrinka, trobil sut tikan, <br>
      Naku tapakisa raya ban kaiara. <br><br>

      3. Ya tasbara lilya ban kaia lukbia <br>
      Witin Kraist daknira aihni dimbia <br>
      Nara sa plun aingwa redi daukan ba <br>
      Naha tasba lika taya man pisa <br>
      Ship witka ba God wina brin <br>
      Ya witinra balbia ai dukya sin bribia

    </p>
  </div>

  <p class="subtitulo"> <strong>Dawan Bila <br> Won pura sunai - Won lula Krikpi <br> Sut Buaia </strong></p>
  <p class="subtitulo"> <strong>Lawana - 289</strong></p>

  <div class="himno">
    <p>
      1. Tebilkamra, Dawan, man ai paiwram, <br>
      Saura poli sakuna; <br>
      Baha kupya pihni laka tara <br>
      Yawon latan kaikisa. <br>
      Upla saura mita sut ba saukan <br>
      Paiwisma, bâ kumi sin man lulkras; <br>
      Apia kaka, dukyam ba <br>
      Yang na sip brimn' apia sa. <br><br>

      2. Helpkas nani mata tebil palkram, <br>
      Patam pi aibangwaia; <br>
      Heven pata aikaia man redi, <br>
      Kupyam yamni bahamna. <br>
      Sólki, wini, baha pata mita <br>
      Rayakaia laka ba ban brisa; <br>
      Yawon naha pata ni <br>
      Man wol kumi takisa.

    </p>
  </div>
  <p class="subtitulo"> <strong>Sut buaia</strong></p>

  <div class="stanza">
    <p> <strong>Won Dawan Jisus Kraist baha timya witin ai waila mitara mangkan kan bara, witin bred brin, ai pura
        sunanra krikan, ai
        disaipelka nanira yan, bara aisin; "Bri, piram; naha na yang wini tara sa, dukyamra yan sa. Naha dauksyangra
        lukira.
      </strong></p>

    <p class="subtitulo">Sut Iuaia</p>
    <p class="subtitulo"> <strong>Lawana - 296</strong></p>
  </div>

  <div class="himno">
    <p>
      1. Dawanki, nara mamwan kaikisni; <br>
      Naikra sip kaikras ba ban alkisni; <br>
      Kau kanra kupyam yamni alkisni, <br>
      Swapniki nani manra kabisni. <br><br>

      2. Nara God bredka pin ai daukisa <br>
      Man wol sin Heven wainka di kamna <br>
      Karbanki bani nara lulkamna <br>
      Kli raya baku saurki tikan sa. <br><br>

      3. Man sika helpki, wala apu sa;<br>
      Klamklara tniwi kauam'apia sa. <br>
      Sip poli sa, Dawan, sip poli sma, <br>
      Yang karniki, man karnikamra sa. <br><br>

      4. Yang saura sni, man mika kasak sma <br>
      Patkira yang, tamlya ba sikbaika, <br>
      Nara sa praika, yukuwaiki sin, <br>
      Man tamlya kasakkam, yang Dawanki. <br><br>

      5. Hev'n pata tebilkamra kabisma; <br>
      Aiwoni lilya tara daukamna; <br>
      Taisapi bas man lamtwan holira <br>
      Man mamwan ingnika kau mairikma. <br><br>

      6. Lilya na pain, naika kau kanra pain <br>
      God Shipka lupya marid pata ba! <br>
      Bara Kraist atki sakan Daknika <br>
      Sut asla prakan kabia purara. <br>
    </p>
  </div>

  <p class="subtitulo"> <strong>Lawana - 161</strong> </p>

  <div class="himno">
    <p>
      1. Manra man lukisni <br>
      Jisus, yang Dawanki <br>
      Yang Sasakra. <br>
      Man pliskam yangra wals <br>
      Yang kupi sikbi saks <br>
      Man dukyam yang ai bris <br>
      Ban kaiara. <br><br>

      2. Karnikam tara ba <br>
      Yangra aikma, bara <br>
      Yang sip kamni. <br>
      Man yangra lukatma <br>
      Yang maita prutma, <br>
      Yang kupi kaula ba <br>
      Man lapta dauks <br><br>

      3. Kau nara taukisna, <br>
      Trobil ai alkbia kra, <br>
      Yabal mairiks. <br>
      Timya ba ingni dauks <br>
      Yang naikra laya diks <br>
      Yang miti nani alks, <br>
      Ai swipara <br><br>

      4. Yang pyui balbia kra <br>
      Won prura sibrinka <br>
      Ai alkbia kra; <br>
      Dawanki, yangra luks, <br>
      Sibrinka laiura saks, <br>
      Purara man ai suns, <br>
      Sut pri sakan. <br>
    </p>
  </div>

  <p style="text-align: center; font-size: 14px;"><strong>Lawana - 291</strong></p>

  <div class="himno">
    <p>

      1. Yangra balram Jisuski <br>
      Kupi aiska yang mai bri <br>
      Balram solki diranka <br>
      Kupi man mai paiwisa. <br><br>

      2. Manra lukan poli man, <br>
      Kupi uya mai plikan; <br>
      Balram, solki brinka man <br>
      Uya manra mai winan. <br><br>

      3. Tasba diera lua sa <br>
      Kupi prana kabia <br>
      Jisus, man yang laimara, <br>
      Bara kupi yamni sa. <br><br>

      4. Walara yang wiras sni, <br>
      Kupi dorka sakamna, <br>
      Manra man yang sakamna, <br>
      Yakan man mai bri kamna. <br><br>

      5. Yang Papaskra lupya ba, <br>
      Kupi man mai kulkisa <br>
      Dawan, man ai atkatma, <br>
      Bamna dukyam ban kamna. <br><br>

      6. Bamna balram, Jisuski, <br>
      Kanra yang mai winisni. <br>
      Balram solki diranka <br>
      Aiska yang mai bri kamna. <br>
    </p>
  </div>

  <p style="text-align: center; font-size: 14px;"><strong>Lawana - 295</strong></p>

  <div class="himno">
    <p>
      1. Won sôlka nani shepherdka <br>
      Kais naha daknika <br>
      Won wiram baku aula na, <br>
      Man bilam kaikisa. <br>><br>

      2. Manna ba tasba saurara <br>
      Israelra yuatma <br>
      Li walpa tara wina sin <br>
      Yaram pain disata. <br><br>

      3. Yang nani sin dring pruisni <br>
      Karniki apu sa; <br>
      Rayaka pata plikisni <br>
      Hev'n wina aula ba. <br>><br>

      4. God kupya yamni bila ba <br>
      Won sôlka bukuya: <br>
      Ba karnikara wapamna <br>
      Won kontrika ba kat. <br><br>

      5. Man, Dawan, sin na tasbara <br>
      Swapnika wauatma <br>
      Man dusra pruram wina sin <br>
      Won helpka wonkisma. <br>><br>

      6. Bamna bal bredkam kriki yas <br>
      Lalukra banira <br>
      Kau yawon wol sin takaski <br>
      Iwi pi ban kama. <br><br>

      7. Man wînam ba man tamlya sin <br>
      Dakaks won sôlkara: <br>
      Ban wonkma sin won pyua kat <br>
      Hev'n wina karnika. <br>

    </p>
  </div>

  <p class="subtitulo">Sut Buaia</p>
  <p class="stanza"><strong>Bri, piram: Kraist wîna tara man dukyamra yan kan ba luki bas; tengkikira sin witin ba man
      kupyam pata bris</strong> <br>
    Won lula krikpi won pura sunpi
  </p>

  <p><strong>Agen:</strong></p>
  <p><strong>Kongregeshen: Pruram wina helpka ba, Ban kau wonkma tnata kat; Umpira won kais</strong> </p>
  <p><strong>Pasin: Man God sma nara ban sma ba <br>
      Man sakramentkam holikira ba, <br>
      Man tasbara upla kapram, pât briram pruram ba <br>
      Man kli raiti wina buram, purara uli waram ba.</strong> </p>
  <p><strong>Sut:</strong></p>
  <p> <strong>Baha sut ba mita yamni won muns Won Dawan God kupya pinikira.</strong></p>


  <div class="himno">
    <p class="subtitulo"> Lawana - 225</p>
    <p>
      1. Jisus sôlki diranka, <br>
      Manra mika plapamna <br>
      Pasa karna kraui na, <br>
      Rip sin tara tilwisa. <br>
      Ai bris, Dawan, man ai bris <br>
      Tasba trobil luan kat <br>
      Harborra ai dingkuma, <br>
      Sólki hevenra man suns.

    </p>
  </div>
  <p style="text-align: center; font-size: 14px;">Sut buaia</p>

  <div class="stanza">
    <p> <strong>"Bri, piram; Kraist wina tara man dukyamra yan kan ba luki bas; tengkikira sin witin ba man kupyam pata
        bris"</strong></p>
    <p>Won lula krikpi won pura sunpi</p>
    <p style="text-align: center; font-size: 14px;">Agen</p>
    <p style="text-align: center; ">
      Pruram wina helpka ba, <br>
      Ban kau wonkma, tnata kat; <br>
      Umpira won kais. <br>
    </p>
    <p style="text-align: center; font-size: 14px;">Pasin</p>
    <p style="text-align: center;">
      Man God sma nara ban sma ba <br>
      Man sakrametkam holikira ba, <br>
      Man tasbara upla kapram, <br>
      pat briram, pruram ba, <br>
      Man kli raiti wina buram, <br>
      pura ra uli waram ba. <br>
      Baha sut ba mita yamni won muns <br>
      Won Dawan God kupya pinikira. <br>
    </p>
  </div>

  <p style="text-align: center; font-size: 14px;"><strong>Lawana - 293</strong></p>

  <div class="himno">
    <p>
      1. Jisus man tamlya yamni ba <br>
      Yang sôlki dukya poli sa; <br>
      Baha yang sôlki diranka, <br>
      Yang kupi ba sin sikbisa. <br> <br>

      2. Man tamlya ba, man kasakkam <br>
      Ba man won Aisa kaikisa, <br>
      Baha yang praina kulki ba, <br>
      Ai watla yangra aikisa. <br> <br>

      3. Won Aisa Lupya Jisus Kraist <br>
      Man sika yang Sasakra sma <br>
      Man tamlya yamnikira ba <br>
      Yang sôlki rayakaia sa. <br> <br>

      4. Jisus, man wînam tamlya sin, <br>
      Ba dukyara manyunisni, <br>
      Man rayakaia bredka ba <br>
      Pura wina won dakakram. <br>
  </div>

  <p style="text-align: center; font-size: 14px;">Sut buaia</p>

  <div class="stanza">
    <p><strong>
        Baha muna natka sin, witin kop ba brin, plun pin ningkara, ai pura sunan, bara witin nanira yan, wisi: Man nani
        sut baha
        wina dis!: naha yang tailya ba, lâ raya talya sa, dukyamra laiwan sa, wala nani uya dukyara sin, saura yan ba
        saurka
        tikaia. Naha dauks yangra lukira".
      </strong></p>
  </div>

  <p style="text-align: center; font-size: 14px;"><strong>Lawana - 158</strong></p>

  <div class="himno">
    <p>
      1. Bå daiwan talya ba <br>
      Tempelra laiwan kan. <br>
      Won sôlka saura bangwika <br>
      Sip sikbi sakras kan. <br><br>

      2. Kraist won Sasakra ba <br>
      Won sôlka sikbisa; <br>
      Ai talya holikira ba <br>
      Kan manas yamni sa. <br><br>

      3. Dawan man lamlara <br>
      Yang miti kabisni; <br>
      Yang, saura yari dara ba <br>
      Yang, manra sakisni. <br><br>

      4. Bâ karban wirah ba <br>
      Man twilki pruatma, <br>
      Yang saura yari pâtka kan, <br>
      Yang latan kaikisni. <br><br>

      5. Yang pri ai saki kan, <br>
      Yang lilya tara sa: <br>
      Won Dawan kupya latwanka, <br>
      Yang sin mayunisni. <br>
    </p>
  </div>

  <p style="text-align: center; font-size: 14px;"><strong>Lawana - 159</strong></p>

  <div class="himno">
    <p>
      1. Won Dawan Jisus talya ba, <br>
      Ai kasakka, yang praina sa; <br>
      Yang naha bri, ai mawanra. <br>
      Yang sibrin apu buamni. <br><br>

      2. Yang Jisus bila walisni; <br>
      Ya lukisa, lâ dingkras sa; <br>
      Yang tengki wisni, witin sin <br>
      Là wina pri ai sakisa. <br><br>

      3. Won Aisa Lupya Jisus Kraist <br>
      Yang saura yari tawan ba <br>
      Dus prinira kat pruan sa <br>
      Witin man Dawan kulkisni. <br>

      4. Yang lukisni, ai talya ba <br>
      Won saurka ba sut tikisa; <br>
      Won Aisa watla alkanra <br>
      Ai praiska sin sip tiwras sa. <br><br>

      5. Baku yang naha talya na <br>
      Yang lengter dutki alkisni; <br>
      Yang raya kra, yang prumna kra, <br>
      Yang Jisus talya alkisni. <br>
  </div>

  <p style="text-align: center; font-size: 14px;"><strong>Lawana - 163</strong></p>

  <div class="himno">
    <p>
      1. Jisus Dawan ai atkram, <br>
      Yakan dukyam ban kamna <br>
      Tamlya yamni man laikram, <br>
      Puri mana aibapram <br>
      Yarka kupi aiska ni <br>
      Dawan dukyam ban kamni. <br><br>

      2. Dawan wala ai bri kan <br>
      Namika man ai brima <br>
      Bilam kasak walamni, <br>
      Puri sunra plikisni; <br>
      Yaura yang lukamni? <br>
      Man baman mai kulkisni. <br><br>

      3. Jisus Dawan dukiam na <br>
      Man sin dutki alki bris <br>
      Ingnikam yang kupira <br>
      Heven yabalka mairiks <br>
      Minamra yang prawamni <br>
      Aiska man mai bri kamni. <br>
  </div>

  <p style="text-align: center; font-size: 14px;"><strong>Lawana - 171</strong></p>

  <div class="himno">
    <p>
      1. Jisus dusam prini wol <br>
      Kupi man mai kulkisa: <br>
      Upla yamni kaikisa, <br>
      Manra sut yang sakisni. <br>
      Manra luki mamyuni, <br>
      Tasbara yang lilyaki, <br>
      Mai kaiki mai briaia, <br>
      Hevenra yang sakamna. <br><br>

      2. Dawan, man kra ai swima, <br>
      Raya sip kamn' apia, <br>
      Mitamra man ai brima. <br>
      Prura bahki taubia. <br>
      Jisus, yang lukisma, <br>
      Yamni man sin ai brisma, <br>
      Diera sut yang plikamna, <br>
      Mai bri bara bri kamna. <br><br>

      3. Latwan man ai kaikisma, <br>
      Maipara sut yamni sa; <br>
      Bamna man wol ban kamna, <br>
      Sip mai swiaia' apia. <br>
      Yang mai brisni, Dawanki, <br>
      Diera yamni sut brisni, <br>
      Kupi kumi iwamna <br>
      Heven brisni kupira. <br>
    </p>
  </div>

  <p style="text-align: center; font-size: 14px;"><strong>Lawana - 300</strong></p>

  <div class="himno">
    <p>
      Bred ba wain wol dukyara, <br>
      Lamtwan tokinka aikram <br>
      Maita pruram dukyara <br>
      Yang tengki mai wisni. <br><br>

      2. Kupya kumi pata ba <br>
      Man kli yangra aikatma, <br>
      Wiriki sut kangbatma, <br>
      Yang tengki mai wisni. <br><br>

      3. Bilam ba yang naikra ba <br>
      Kal'vri dusra wlakisa, <br>
      Heven prana dukyara <br>
      Yang tengki mai wisni. <br><br>

      4. Witin kli balbia kat kli <br>
      Nå bred yawon pi kabia, <br>
      Sôlki pata poli sa, <br>
      Yang tengki mai wisni. <br><br>

      5. Witin balbia kat, kop ba <br>
      Yawon ban di kabia <br>
      Pyuam bila kaikamni; <br>
      Yang tengki mai wisni. <br>
    </p>
  </div>

  <p style="text-align: center; font-size: 14px;">Sut buaia</p>

  <div class="stanza">
    <p><strong>
        Won Dawan Jisus Kraist win: "Naha diram; Kraist talya dukyamra laiwan kan ba luki bas; tengkikira sin witinra
        man kupyam
        buks".
      </strong></p>
    <p>Won lula krikpi won pura sunpi</p>
    <p style="text-align: center; font-size: 14px;">Agen</p>
    <p>
      <strong>Pasin: Man God Shîpka Lupya, tasba saurka bri sakisma ba.</strong>
    </p>
    <p><strong>Sut: Man kupyam kumi ba yawon wol swiram.</strong></p>

    <p><strong>
        Pasin: (SUT BUAIA) Aima bani bamna, man nani kra naha bredka pisma, naha kopka sin disma, man nani Dawan pruanka
        dukyara param aisisma,
      </strong></p>

    <p><strong>Sut: Witin kli balbia ba kat.</strong></p>
  </div>

  <p style="text-align: center; font-size: 14px;"><strong>Lawana - 301</strong></p>

  <div class="himno">
    <p>
      1. Dawan Kraist kli balbia kat" <br>
      Ban na bila wali brip; <br>
      Pura watla tanka ba <br>
      Lukpi naha tebilra <br>
      Yawon nara yua wol <br>
      "Witin balbia kat" man sa. <br><br>

      4. Kais, won Dawan tebilka, <br>
      Bred ba wain wol kaban sa <br>
      Baku Dawan sulyarka <br>
      Yapan kra, kau raya kra, <br>
      Pura pata pibia sa <br>
      Kraist wol, witin balkara. <br>
    </p>
  </div>

  <p style="text-align: center; font-size: 14px;"><strong>Lawana - 303</strong></p>
  <p style="text-align: center; font-size: 14px;">(Mihta sihbaia)</p>
  <div class="himno">
    <p>
      Yawon nara sut aidrubi balan <br>
      Pana mita alkisa; <br>
      Dawan yawon tnatamana pruan, <br>
      Kasak luki bri kamna; <br>
      Mai mamyuni, Dawan yamni walma <br>
      Bara sin yawonra bani wima; <br>
      Kupya kumi maikisni <br>
      Amen. Amen, ban kaia.
    </p>
  </div>

  <p style="text-align: center; font-size: 14px;">BLESIN</p>

  <div class="stanza">
    <p><strong>
        Dawan yamni mai munbia, mai alki kabia, Dawan ai mawan manra ingwaia daukbia, umpira mai
        kaikbia, Dawan ai nakra manra bukbia, kupya kumi sin maikbia. <br>

        JISUS NINARA: AMEN.
      </strong></p>
  </div>

  <div class="amen">
    <p>Amen.</p>
  </div>
  <!-- Footer -->
  <footer>
    <div class="footer-content">
      <p>Himnario moravo miskito © Hecho con mucho
        ❤️ por <br> <a href="https://alfredo-hammer.github.io/personal-porfolio/">Alfredo
          Hammer</a></p>
    </div>
  </footer>
</body>

</html>